<ul class="nav nav-pills">
    <li class="active"><a href="#write" data-toggle="tab">Write</a></li>
    <li><a href="#preview" data-toggle="tab">Preview</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="write">
        <textarea rows="8" name="{{ editorName }}" id="{{ editorId ? editorId : editorName }}"
                  class="form-control"
                  placeholder="{{ editorPlaceholder }}">{{ editorText }}</textarea>
    </div>
    <div class="tab-pane" id="preview"></div>
</div>
